div.autodoc-signature {
  margin-bottom: 20px;
}

div.autodoc-docstring {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-docstring h6 {
  margin: 0px 0px 10px 0px;
}

div.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}
