<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>co.elastic.ml-cpp.controller</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>controller</string>
    <key>CFBundleDisplayName</key>
    <string>controller</string>
    <key>CFBundleVersion</key>
    <string>7.12.0</string>
    <key>CFBundleExecutable</key>
    <string>controller</string>
</dict>
</plist>
